/* header */

.header-logo__first-word {
    color: #fff;
}

.header-logo__last-word {
    color: #FFE500;
}


.border__item {
    position: absolute;
    background: #fff;
    opacity: 0;
}

.border-showen {
    opacity: 1;
}

.border-left {
    left: 0;
    width: 1px;
    height: 100%;
    animation: border-right-left .75s;
    animation-delay: 2.15s;
}

.border-right {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    animation: border-right-left .75s;
    animation-delay: .75s;
}

.border-top {
    animation: border-top-bot .75s;
    height: 1px;
    width: 100%;
    top: 0;
    right: 0;
    animation-delay: 1.5s;
}

.border-bottom {
    animation: border-top-bot .75s;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.border {
    z-index: 999;
    height: 50%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader {
    animation: preload-out 0.5s;
    animation-delay: 2.5s;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #181818;
    z-index: 9999;
}

.preloader-container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    text-transform: uppercase;
    font-family: Marske;
    font-size: 26px;
    line-height: 26px;
    width: 124px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.preloader-text:first-child {
    animation: preloader-text-first 3s;
}

.preloader-text:last-child {
    animation: preloader-text-second 3s;
}

.overflow-hidden {
    animation: overflow .3s;
}

.preloader__logo {
    animation: preloader-logo 3s;
    padding: 0 20px;
}

.preloader-text {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.overflow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
}

.logo-icon {
    margin-left: 16px;
    width: 6px;
    height: 20px;
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hamburger {
    z-index: 1000;
}

.soc-link__item {
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 99;
}

.soc-link {
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 42px;
    align-items: center;
}

.instagram {
    background-image: url(../img/instagram.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.telegram {
    background-image: url(../img/telegram.png);
}

.nav-bar-hidden {
    display: none;
}

.nav-bar {
    z-index: 999;
    position: absolute;
    top: 0;
    background: #181818;
    width: 100%;
    height: 100%;
}

.hidden-soc-link {
    position: absolute;
    bottom: 60px;
    left: 16px;
}

.hidden-nav-bar-logo {
    position: absolute;
    top: 100px;
    left: 16px;
}

.hidden-nav-bar__list-item {
    margin-bottom: 30px;
}

.hidden-nav-bar {
    position: absolute;
    top: 210px;
    left: 16px;
}

.hidden-nav-bar__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-close-menu {
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    background-image: url(../img/menu-close.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 32px;
    right: 30px;
}

.header {
    position: relative;
    background: #181818;
    padding: 30px 0 80px;
    position: relative;
    z-index: 10;
}

.header__main {
    position: relative;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 16px;
}

.header__main-text {
    margin-bottom: 90px;
}

.header-title {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFE600;
    margin-bottom: 20px;
    width: 290px;
}

.header-title__last-word {
    color: #fff;
}

.header-descrption {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    width: 260px;
    margin-bottom: 20px;
}

.hr-line {

    height: 2px;
    background-color: #FFE500;
    border-radius: 3px;
}
.portfolio-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(24, 24, 24, 0.5);
}
.portfolio-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    padding: 40px 40px;
    background-image: url(../img/portfolio-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.portfolio-section__link {
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding: 22px 44px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background: transparent;
}

.portfolio-section__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
}

.portfolio-section__descr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
}

.portfolio-section__container {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio-section__container:nth-child(1) {
    margin-bottom: 60px;
}

.whywe-section__list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 180px;
    text-align: center;
    padding: 20px 0;
}

.whywe-section__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.whywe-section {
    padding: 80px 16px 40px;
}

.whywe-section__title {}

.list-item__descr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    max-width: 140px;
}



.whywe-section__list-item:nth-last-child(-n+2) {
    margin-bottom: 0px;
}

.section-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.list-item__img {
    margin-bottom: 24px;
}

.process-section {
    padding: 40px 16px;
}

.process-section__title {
    text-align: right;
    width: 280px;
    margin-left: auto;
    margin-bottom: 40px;
}

.process-section__list-item__descr {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 300;
}

.process-section__list-item__hr {
    height: 90px;
    width: 10px;
    background-image: url(../img/process-list/hr.png);
    background-position: center;
    background-repeat: no-repeat;
}

.process-section__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.process-section__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
}

.section {
    background-color: #181818;
}

.process-section__list-item__img {
    margin-bottom: 20px;
}

.our-works-section__title {
    width: 300px;
    margin-bottom: 60px;
}

.our-works-section {
    padding: 40px 16px 80px;
    position: relative;
}

.mission-section__title {
    margin-bottom: 12px;
}

.content-item__img {
    max-width: 100%;
}

.content-item {
    width: 340px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.content-item__img{
    margin-bottom: 0;
}

.content-item:nth-child(-n+3)::before {
    position: absolute;
    content: '';
    background-image: url(../img/our-work-content/button.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-works-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.see-all-works {
    color: #FFFFFF;
    background: transparent;
    padding: 14px 28px;
    border: 1px solid #FFFFFF;
}

.see-more-container {
    text-align: center;
}

.mission-section__title {
    width: 120px;
    margin-bottom: 10px;
}

.offers__item {
    width: 130px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.offers__item:nth-child(2n+1) {
    margin-bottom: 40px;
    margin-right: 15px;
}

.offers__item:nth-child(2n) {
    margin-bottom: 40px;
}

.offers__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
}

.container-text {
    width: 300px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 151.4%;
    margin-bottom: 40px;
}

.mission-section {
    background-image: url(../img/mission-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mission-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(24, 24, 24, 0.5);
    padding: 30px 20px;
}

.mission-section {
    padding: 20px 16px 60px;
}

.offers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offers__title {
    width: 200px;
    text-align: right;
    margin-left: auto;
    margin-bottom: 50px;
}

.constacts-section__title {
    width: 240px;
    font-size: 26px;
    margin-bottom: 50px;
}

.contacts-section {
    padding: 30px 16px;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tel-number {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 214px;
    text-align: right;
    margin-bottom: 30px;
    margin-right: auto;
}

.email {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFE500;
}

.contact-us-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 40px 16px;
    background-image: url(../img/form-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

. .send-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
}

.form-label {
    width: 300px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.form-input {
    background: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    width: 100%;
}

.contact-us-section__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #181818;
    margin-bottom: 30px;
}

.contact-us-section__descr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #181818;
    margin-bottom: 40px;
}

.form-input:focus:valid {
    border-bottom: 1px solid green;
}

.form-input:focus:not(:valid) {
    border-bottom: 1px solid red;
}

.btn-send-form {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding: 14px 80px;
    border: 1px solid #000000;
    border-radius: 2px;
    background: transparent;
    margin: 0 auto;
}

.footer {
    padding: 24px 0;
    margin: 0 auto;
    background: #181818;
    text-align: center;
}

.copyrights {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.bg-el {
    background-image: url(../img/bg-el.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.bg-el-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-el:nth-child(1) {
    left: 25%;
    animation-delay: 0s;
}

.bg-el:nth-child(2) {
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}

.bg-el:nth-child(3) {
    left: 70%;
    animation-delay: 4s;
}

.bg-el:nth-child(4) {
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

.bg-el:nth-child(5) {
    left: 65%;
    animation-delay: 0s;
}

/* Arrow to top */

.arrow-to-top {
    background: url(https://image.flaticon.com/icons/svg/578/578922.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3;
}

/* video overflow */

.overflow-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overflow-video--hidden {
    display: none;
}

/* nav-bar */

.nav-bar-desctop {
    display: none;
}

.nav-bar__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}